<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="with=device-width,scale=1.0">
        <title>Credit Card Fraud Detection</title>
        <link href="{{ url_for('static', filename='styles/style.css' )}}" rel="stylesheet" type="text/css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>

    <body>
        <section class="welcheader">
            <nav>
             <img src="{{url_for('static',filename="styles/fraud.jpeg")}}" >
             <div class="welcnav-links">

                <ul>
                    <li><a href="{{url_for('home')}}">HOME</a></li>
                    <li><a href="{{url_for('login')}}">LOGIN</a></li>
                    <li><a href="{{url_for('signup')}}">SIGN UP</a></li>
                    <li><a href="{{url_for('logout')}}">LOGOUT</a></li>
                </ul>

            </div>

           </nav>
        <div class="welctext-box" style="padding:0 px 0px">
        <h1>Prediction</h1>
        <p>Credit Card Fraud Detection</p>
  
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <section class="performance">
           <h1> Accuracy= {{acc}}</h1><br>
            <h1>Precision= {{prec}}</h1><br>
           <h1> Recall= {{recall}}</h1><br>
            <h1>F1_Score= {{f1}}</h1><br>
        </section>
        <br>
        <section class='img-performance'>
            <h1 style="color:purple"><u>Confusion Matrix</u></h1>
            <img src='{{url_for('static',filename='styles/new_plot.png')}}' alt="Chart">
        </section>
    

    </section>
    <section class="predict_fraudfooter">
        <h1>Contact Us</h1>
        <div class="icons">
           <i class="fa fa-facebook"></i>
           <i class="fa fa-twitter"></i>
           <i class="fa fa-instagram"></i>
           <i class="fa fa-linkedin"></i>
           </div>
      </section>
     
   </body>
   </html>
